.profuid{
    // background-color: rgb(211, 211, 211);
    margin-top: 40px;
    // padd-top: 40px;
    .title-list {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid rgb(231, 231, 231);
        // background-color: #fff;
    //    margin-top: 40px;
    h2{
        border-bottom:1px solid rgb(145, 140, 140) ;
    }
    }
}