.nav {
  background-color: #252525 !important ;

  ul {
    list-style-type: none;
    li {
      padding-right: 30px;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    padding: 20px;
  }
  .dropdown-item {
    color: black;
  }
  .nav-link:hover {
    color: white;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    background-color: rgb(230, 230, 230);
  }
}
