.nav{
    background-color: #252525 !important ; 
    
    ul {
        list-style-type: none;
        // text-align: center;
        
        li {
            display: inline-block;

            padding-top: 10px;
            padding-right: 30px;
          }
          a{
            color: aliceblue;
            text-decoration: none;
          }
}
// .mnbox{
//   width: 100%;
  
// }
// .fs-mntd2 {
//   width: 15%;
//   border-right: 1px solid #e3e3e3;
// }
.dropdown:hover  .dropdown-menu {
  display: block;
  // width: 100%;
}
.dropdown .dropdown-menu {
  display: none;
  // width: 100%;
}


.dropdown-item{
  color: black;
}
.nav-link:hover{
  color: #808080;
}
    }

  
  
  