* {
  box-sizing: border-box;
}
.header {
  background-color: #cd1818 !important ;
  // padding-top: 10px;
  .header-container {
  padding-top: 20px;
    // display: flex;
    justify-content: space-between;
    .text-link {
      text-decoration: none;
      .logo {
        color: aliceblue;
        line-height: 60px;
        padding-top: 10px;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      // text-align: center;
      li {
        text-align: center;
        // display: inline-block;
        padding: 0px 10px;
        // padding-top: 10px;
      }
      a {
        color: aliceblue;
        text-decoration: none;
      }
    }
    
  }
  .header-link:hover {
    color: #000000;
  }
  .navbar-nav {
    a {
      color: aliceblue;
      text-decoration: none;
    }
  }
 
}
.item-color{
 color:    rgb(0, 0, 0)   !important;
  text-decoration: none;
  padding: 10px;
}

