.mt-8 {
  margin-top: 8px !important;
}
.product-create-form {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  & img {
    width: 250px;
    height: 250px;
    min-height: 250px;
  }
  & .form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  & .form-control {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
    border: none;
  }
  & .form-item-action {
    text-align: center;
    width: 100%;
    border-radius: 12px;

    // border: none;
  }
  & .form-item {
    padding: 6px 8px;
    flex: 1;
  }
  & .item-left {
    border-radius: 12px 0 0 12px;
  }
  & .item-right {
    border-radius: 0 12px 12px 0;
  }
  & .form-input-url {
    background-color: #a2cfff;
    border: none;
  }
  & .form-label {
    display: block;
    width: 120px;
  }
  & .form-input-text {
    display: block;
    padding: 4px 8px;
    // border: none;
    border: 1px solid black;
    background-color: transparent;
    color: inherit;
    min-width: 200px;
    border-radius: 4px;
    flex: 1;
    width: 100%;
  }
  & .form-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  & .unit {
    position: absolute;
    font-weight: 500;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
  & .form-action {
    justify-content: center;
    gap: 10px;
  }

  & .c-3 {
    flex: 3;
  }
  & .c-4 {
    flex: 4;
  }
  & .c-8 {
    flex: 8;
  }
  & .c-9 {
    flex: 9;
  }
  & .hidden {
    display: none !important;
  }
  & .form-left {
    width: 250px;
    align-items: center;
  }
  & .form-center {
    // width: 250px;
    flex: 1;
  }
  & .form-right {
    width: 250px;
    flex: 1;
    flex-direction: column;

    align-items: center !important;
  }
  & .relative {
    position: relative;
    flex: 1;
  }
  & .error-message {
    // position: absolute;
    // top: 40px;
  }
}
