.profuid{
    margin-top: 40px;

    .title-list {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid rgb(231, 231, 231);
        // background-color: #fff;
    //    margin-top: 40px;
    h2{
        border-bottom:1px solid rgb(145, 140, 140) ;
    }
    }
}
// .carousel {
// 	// margin-top: 50px auto;
// 	// padding: 0 10px;
// }
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
    border-radius: 30px;
    background-color: #fff;
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}