.action-button {
  margin: 0 !important;
}
.table-product {
  font-size: 14px;
  & thead {
    background-color: #ccc;
  }
  & tbody > tr:nth-child(odd) {
    background-color: "#0df0a970";
  }
  & tbody > tr:nth-child(even) {
    background-color: "#0df0a920";
  }
}
.product-table-row {
  & td {
    padding: 14px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    max-height: 70px;
    overflow: hidden;
  }
}
.label {
  border: 1px solid;
}
